body {
  font-family: initial;, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('.jpg'); /* Replace with the path to your background image */
  background-size: cover;
}

.container {
  background-color:beige ; 
  padding: 20px;
  border-radius: 20px;
  box-shadow: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

/* Rest of your existing CSS */
